<div class="container">
  <h1>Style Guide</h1>
  <section>
    <h3>Color Palette</h3>
    <p>Main UI</p>
    <ul class="color-palette">
      <li class="attack"></li>
      <li class="mix"></li>
      <li class="defend"></li>
      <li class="block"></li>
      <li class="form"></li>
    </ul>
    <p>Text Colors</p>
    <ul class="color-palette">
      <li class="text"></li>
      <li class="soft-text"></li>
      <li class="soft-header"></li>
    </ul>
  </section>
</div>
