// Text Colors
$text: #474b58;
$soft-text: #A9ADB4;
$soft-header: #787D88;
$white: #ffffff;
$transparent-light: rgba(255, 255, 255, 0.6);
$transparent-dark: rgba(0, 0, 0, 0.6);

// UI Colors
$attack: #BA182C;
$mix: #645398;
$defend: #0E9ED2;
$block: #111318;
$form: #F6F6F7;

.text-attack {
  color: $attack;
}

.text-defend {
  color: $defend;
}
