// Text Colors
$text: #474b58;
$soft-text: #A9ADB4;
$soft-header: #787D88;
$white: #ffffff;
$transparent-light: rgba(255, 255, 255, 0.6);
$transparent-dark: rgba(0, 0, 0, 0.6);

// UI Colors
$attack: #BA182C;
$mix: #645398;
$defend: #0E9ED2;
$block: #111318;
$form: #F6F6F7;

$ana: #408fff;
$bastion: #84ae7b;
$dva: #ffb3f3;
$genji: #8cff9a;
$hanzo: #5a607d;
$lucio: #2cd13f;
$mccree: #d44124;
$mei: #009be8;
$mercy: #ffe100;
$orisa: #9fbc30;
$pharah: #008ff5;
$reaper: #000000;
$reinhardt: #b0bef8;
$roadhog: #6b6b6b;
$soldier76: #fd0d15;
$symmetra: #00ccff;
$torbjorn: #ffc400;
$tracer: #ffb803;
$widowmaker: #4c3b70;
$zarya: #ea4d98;
$zenyatta: #f3ebaf;

.text-attack {
  color: $attack;
}

.text-defend {
  color: $defend;
}

a, a:link {
  color: $defend;
}

a:visited, a:active {
  color: $mix;
}

a:hover, a:focus {
  color: $attack;
}
