// Text Colors
$text: #292B31;
$soft-text: #A9ADB4;
$soft-header: #787D88;

// UI Colors
$attack: #BA182C;
$defend: #0E9ED2;
$block: #111318;
$form: #F6F6F7;
$mix: #7E68C3;

.text-attack {
  color: $attack;
}

.text-defend {
  color: $defend;
}
