.composition-form {
  margin-bottom: 60px;

  .players-table {
    width: 100%;
  }

  .composition-form-header {
    padding: 40px 0;
    margin-bottom: 35px;
    background-color: #f3d6da;
    @include filter-gradient(#f3d6da, #daf0f8, horizontal);
    @include background-image(linear-gradient(left, #f3d6da 0%,#daf0f8 100%));
  }

  tbody td {
    vertical-align: top;
  }

  thead th {
    padding: 0 0 15px;
  }

  .hero-select-cell {
    color: #292b31;
  }

  .players-header {
    text-transform: uppercase;
    color: #727783;
  }

  .player-cell {
    background-color: #f5f5f6;
    color: #292b31;
    white-space: nowrap;
    padding-right: 0.5em;

    .label {
      line-height: 2.5;
      font-size: 1rem;
      padding-left: 15px;
      margin-right: 0.5em;
    }

    .input {
      padding-left: 0.25em;
      padding-right: 0.25em;
      box-shadow: none;
      background-color: inherit;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid transparent;
      width: auto;

      &:focus,
      &:active {
        border-bottom-color: #0e9ed2;
      }
    }
  }

  .map-photo-container {
    width: 175px;
    height: 175px;
    background-color: #644043;
  }

  .composition-meta {
    position: absolute;
    left: 120px;
    top: 55px;
    background-color: #111319;
    padding: 20px;
    color: #a9acb4;
  }

  .composition-notes-wrapper {
    margin-top: 60px;
  }
}
