.edit-player-button.button-link {
  color: $soft-header;
  height: 2.25em;
  padding-right: 9px;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $attack;
  }
}

.map-segment-filled-status {
  display: block;
  width: 100%;
  height: 6px;
  margin-top: 9px;

  &.is-first {
    @include border-top-left-radius(6px);
    @include border-bottom-left-radius(6px);
  }

  &.is-last {
    @include border-top-right-radius(6px);
    @include border-bottom-right-radius(6px);
  }

  &.attacking {
    &.is-filled {
      background-color: $attack;
    }

    &.is-not-filled {
      background-color: $light-attack;
    }
  }

  &.defending {
    &.is-filled {
      background-color: $defend;
    }

    &.is-not-filled {
      background-color: $light-defend;
    }
  }
}

.composition-header {
  padding: 40px 0;
  margin-bottom: 35px;

  .map-photo-container {
    width: 175px;
    height: 175px;
  }

  .composition-meta {
    position: absolute;
    left: 120px;
    top: 55px;
    background-color: #111319;
    padding: 20px;
    color: #a9acb4;
  }
}

.players-table {
  width: 100%;

  .odd-column .hero-select-container {
    background-color: #fbfbfb;
  }

  .players-header,
  .player-cell {
    padding-right: 2em;
  }

  .players-header {
    color: #727783;

    .player-count {
      float: right;
      margin-right: 6px;
    }
  }

  .player-cell,
  .hero-select-cell {
    padding-top: 1px;
  }

  .hero-select-cell {
    color: #292b31;
    white-space: nowrap;
  }

  .hero-select-container,
  .player-select-container {
    border: 2px solid #f5f5f6;
    margin-bottom: 9px;
    @include border-radius(4px);
  }

  .hero-select-container {
    margin-right: 4px;
    padding-left: 10px;
    @include display-flex;
    @include align-items(center);

    &.not-filled {
      background-color: #f5f5f6;
    }

    label,
    .select {
      display: table-cell;
      vertical-align: middle;
    }

    .select {
      width: 100%;

      select {
        width: 100%;
      }
    }
  }

  .player-cell {
    color: #292b31;
    white-space: nowrap;
  }

  .player-select-container {
    background-color: #f5f5f6;

    &,
    .existing-player-container,
    .player-new-name-container {
      display: table;
      width: 100%;
    }

    .label,
    .player-select.select,
    .edit-player-button {
      display: table-cell;
      vertical-align: middle;
    }

    .existing-player-container,
    .player-new-name-container {
      width: 100%;
    }

    .label {
      color: #c8cace;
      width: 34px;
    }

    .player-select.select {
      width: 100%;

      select {
        padding-left: 0.25em;
        padding-right: 0;
        width: 100%;
      }
    }
  }

  tbody td {
    vertical-align: top;
  }

  thead th {
    text-align: left;
    padding: 0 4px 9px 0;
  }
}

.composition-notes-wrapper {
  margin-top: 60px;

  .notes-label {
    margin-bottom: 9px;
  }
}

.composition-form {
  margin-bottom: 60px;

  .hero-portrait-placeholder,
  .hero-portrait {
    display: inline-block;
    width: 30px;
    @include border-radius(30px);
  }

  .hero-portrait-placeholder {
    background-color: #d8d8d8;
    height: 30px;
  }

  .player-cell {
    .label {
      line-height: 2.3;
      font-size: 1rem;
      padding-left: 15px;
      margin-right: 0.5em;
    }
  }
}

.select.map-select {
  select {
    color: $white;
    font-size: 1.7rem;
    line-height: 1;
    height: 2.3rem;
    padding-left: 0;
    padding-right: 0;
  }

  &:after {
    border-color: $white;
    border-width: 3px;
    width: 0.6em;
    height: 0.6em;
    right: 0.6em;
  }
}

.composition-name-container {
  position: relative;

  .fa {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -6px;
    color: $text;
  }

  .button.save-composition-name-button {
    background-color: inherit;

    .fa {
      color: $white;
    }
  }

  .input.composition-name-input {
    background-color: transparent;
    color: $soft-header;
    border: none;
    padding-left: 0;
    padding-right: 20px;
    font-size: 1.3rem;
    line-height: 1;
    height: auto;
    @include border-radius(0);
  }

  &.editing {
    @include display-flex;
    @include justify-content(flex-start);

    .input.composition-name-input {
      border-bottom: 1px solid $defend;
      color: $white;
    }
  }
}

.player-new-name-container {
  .player-name-input,
  .button-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .player-name-input {
    padding-left: 0.25em;
    padding-right: 0.25em;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid transparent;
    width: 100%;
    @include border-top-right-radius(0);
    @include border-bottom-right-radius(0);

    &:focus,
    &:active {
      border-bottom-color: $defend;
    }
  }

  .button-wrapper {
    width: 30px;
    padding-left: 2px;

    .button {
      height: 2.285em;
      @include border-top-left-radius(0);
      @include border-bottom-left-radius(0);
    }
  }
}

.composition-link-container {
  margin-top: 10px;

  .composition-link {
    color: $soft-text;
    text-decoration: none;
    font-size: 0.9rem;

    &:hover,
    &:focus {
      color: $form;
    }

    .fa {
      margin-right: 5px;
    }
  }
}
