.composition-creator {
  margin-bottom: 0;
  font-size: 12px;
  text-transform: uppercase;
}

.composition-map-name {
  color: $white;
  font-size: 1.7rem;
  line-height: 1;
  height: 2.3rem;
}

.composition-name {
  color: $soft-header;
  font-size: 1.3rem;
  line-height: 1.3;
}

.players-view-table.players-table {
  tbody td,
  thead th {
    padding: 0.5em 1.25em;
  }

  .player-cell,
  .hero-name {
    line-height: 40px;
  }

  .hero-portrait,
  .hero-name {
    display: inline-block;
    vertical-align: middle;
  }

  .hero-portrait {
    width: 40px;
    @include border-radius(3px);
  }

  .hero-name {
    margin-left: 10px;
    white-space: nowrap;
  }
}

.composition-updated-date {
  text-transform: uppercase;
  font-size: 12px;
  margin: 40px 0;
}

.composition-notes {
  padding: 1.5rem;
  background-color: $white;
  @include box-shadow(0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1));

  &, p {
    color: $text;
  }

  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}
