a, .button-link {
  @include transition-property(color);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease-in-out);
}

.nav {
  @include align-items(stretch);
  @include display-flex(flex);
  position: relative;
  text-align: center;
  z-index: 2;
}

.nav-item {
  font-size: 1rem;
  padding: 0.85rem 0.75rem;
  line-height: 1.5;
  color: $text;
  display: inline-block;
  border-bottom: 1px solid transparent;

  &.is-active {
    color: $text;
    border-bottom-color: $defend;
  }

  .user-avatar {
    height: 23px;
    @include border-radius(4px);
  }

  .fa.fa-user {
    font-size: 23px;
  }
}

button.nav-item {
  background-color: transparent;
  cursor: pointer;
  border-left: none;
  border-right: none;
  border-top: none;
  font-size: inherit;
  @include user-select(none);
  @include appearance(none);
}

a.nav-item {
  color: $defend;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $attack;
  }
}

.nav-right {
  @include align-items(stretch);
  @include justify-content(flex-end);
  @include flex-basis(0);
  @include flex-grow(1);
  @include flex-shrink(0);
}

@media screen and (min-width: 769px) {
  .nav-right {
    @include display-flex(flex);
  }
}
