*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 90%;
}

.flex-grid {
  display: block;
  .col {
    width: 100%;
    margin-bottom: 1em;
  }
}

section { margin-bottom: 4em; }


@media screen and (min-width: 800px) {
  .container {
    max-width: 1020px;
  }

  .flex-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .col { flex: 1; }
  }

  .flex-grid-thirds {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    .col { width: 32%; }
  }

  .flex-grid-half {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    .col { width: 49%; }
  }
}
