*, *:before, *:after {
  @include box-sizing(border-box);
}

.layout-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.layout-children-container {
  flex: 1 0 auto;
}

.container {
  position: relative;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
}

.footer {
  padding: 3rem 1.5rem 6rem;
  background-color: $form;
  text-align: center;
  font-size: 0.9rem;

  a {
    display: inline-block;
    margin: 0 1em;
    text-decoration: none;
  }
}

.flex-grid {
  display: block;
  .col {
    width: 100%;
    margin-bottom: 1em;
  }
}

section { margin-bottom: 4em; }


@media screen and (min-width: 800px) {
  .container {
    max-width: 1700px;
  }

  .flex-grid {
    @include display-flex;
    .col { @include flex(1); }
  }

  .flex-grid-thirds {
    @include display-flex;
    @include justify-content(space-between);
    .col { width: 32%; }
  }

  .flex-grid-half {
    @include display-flex;
    @include justify-content(space-between);
    .col { width: 49%; }
  }
}
