// Colors
.color-palette {
  @include display-flex;
  @include flex-direction(row);
  margin-bottom: 2em;
  li {
    @include display-flex;
    border-radius: 3px;
    @include flex-grow(1);
    height: 60px;
    margin-right: 2.5%;
    &:last-of-type { margin-right: 0; }
    .color-name, .color-hex {
      color: $white;
      font-size: 0.8em;
      margin: auto;
    }
    .color-hex { color: $transparent-light; }
    &.text { background: $text; }
    &.soft-text {
      background: $soft-text;
      .color-hex { color: $transparent-dark; }
    }
    &.soft-header { background: $soft-header; }
    &.attack { background: $attack; }
    &.mix { background: $mix; }
    &.defend { background: $defend; }
    &.block { background: $block; }
    &.form {
      background: $form;
      .color-name { color: $soft-header; }
      .color-hex { color: $transparent-dark; }
    }
  }
}

// Grid
.flexbox-grid-demo {
  .flex-grid, .flex-grid-thirds, .flex-grid-half {
    .col {
      @include align-items(center);
      @include display-flex;
      background: lighten($defend, 50%);
      border-radius: 3px;
      height: 60px;
      margin-bottom: 1em;
      padding: 1em;
    }
  }
}
